<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @message.document %>
</p>

<p>
  <strong>Spam:</strong>
  <%= @message.is_spam %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
